
.icon-linkedin-2:before { content: '\e800'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
